# The LLM model to use
MODEL=openai/gpt-4.1-mini

# OpenAI API Key (Required for GPT models)
OPENAI_API_KEY=

# Enable CrewAI Langtrace monitoring (optional)
CREWAI_TRACING_ENABLED=true

# Serper API Key (Required for google-serper tool/web search)
SERPER_API_KEY=
